.mainWrapper{
    width: 100%;
    background-color: white;
    color: rgb(221, 25, 25);
    margin-bottom: 3em !important;
}

.innerWrapper{
    width: 90% ;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    justify-content: space-around;
}

/* .innerWrapper>* {
    flex: 1 1 160px;
    margin: 10px;
} */

.leftSection{
    width: 40%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

.rightSection{
    width: 40%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.rightSectionHeader{
    font-size:9vw;
    text-align:right;

}

.rightSectionText{
    font-size:1.2vw;
    text-align:right;
    margin-bottom: 1em;
    color:rgba(197, 14, 40, 1)
}

.buttonWrapper{
    margin-left: 50% !important;
    margin-right: auto !important;
    display: flex;
    justify-content: space-around;

}

.rightSectionHeaderGradient{
    font-family: Arial, 
            Helvetica, sans-serif;
        background: linear-gradient(
            to right, #6441A5, #FB0204,
            #FF0000);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

.button {
    border: 3px solid #DD1919;
    border-radius: 20px;
    background-color: white;
    color: DD1919;
    padding: 6px 38px;
    font-size: 0.9vw;
    cursor: pointer;
  }
  
.button:hover {
    background-color: #DD1919;
    color: white;
}

.mobileIcon{
    display: none;
}

@media screen and (max-width: 768px) {
    
    .mainWrapper{ margin-bottom: 1em !important;}
    .leftSection{display: none;}
    .rightSection{width:100% !important;}
    .rightSectionHeader{font-size:20vw; text-align:left; display: flex;
        justify-content: start;}
    .rightSectionText{font-size:4vw; text-align:left;}
    .buttonWrapper{
        margin-left: 0% !important;
        margin-right: 0% !important;
        display: flex;
        justify-content: start;
    
    }

    .button{
        font-size: 3.5vw;
        border: 2px solid #DD1919;
        border-radius: 20px;
        background-color: white;
        color: DD1919;
        padding: 3px 8px;
        cursor: pointer;
    }

    .gapper{
        width: 3%;
    }

    .mobileIcon{
        padding-top: 15px;
        display: block;
        width: 25%;
    }

}