.mainWrapper {
  width: 100%;
  margin-top: 3rem;
  background-color: white;
  color: rgb(221, 25, 25);
  margin-bottom: 3em !important;
}

.innerWrapper {
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .innerWrapper>* {
    flex: 1 1 160px;
    margin: 10px;
} */

.leftSection {
  width: 40%;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}

.rightSection {
  width: 50%;
  margin-top: 5% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.rightSectionHeader {
  font-size: 8rem;
  text-align: right;
}

.rightSectionText {
  margin-top: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
  text-align: right;
  margin-bottom: 1rem;
  color: rgba(197, 14, 40, 1);
}

.buttonWrapper {
  margin-left: 55% !important;
  display: flex;
  justify-content: space-between;
}

.rightSectionHeaderGradient {
  background: linear-gradient(to right, #6441a5, #fb0204, #ff0000);
  background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.button {
  border: 3px solid #dd1919;
  border-radius: 20px;
  background-color: white;
  color: DD1919;
  padding: 6px 38px;
  font-size: 0.9vw;
  cursor: pointer;
}

.button:hover {
  background-color: #dd1919;
  color: white;
}

.mobileIcon {
  display: none;
}

@media screen and (max-width: 768px) {
  .mainWrapper {
    margin-bottom: 1em !important;
  }
  .leftSection {
    display: none;
  }
  .rightSection {
    width: 100% !important;
  }
  .rightSectionHeader {
    font-size: 20vw;
    text-align: left;
    display: flex;
    justify-content: flex-start;
  }
  .rightSectionText {
    font-size: 4vw;
    text-align: left;
  }
  .buttonWrapper {
    margin-left: 0% !important;
    margin-right: 0% !important;
    display: flex;
    justify-content: flex-start;
  }

  .button {
    font-size: 3.5vw;
    border: 2px solid #dd1919;
    border-radius: 20px;
    background-color: white;
    color: DD1919;
    padding: 3px 8px;
    cursor: pointer;
  }

  .gapper {
    width: 3%;
  }

  .mobileIcon {
    display: block;
    width: 35%;
  }
}
