.mainContainer{
    border : 1px solid ;
    border-radius: 20px !important;
    border-color: crimson;
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    filter: drop-shadow(0 0 0.75rem rgba(236, 5, 13, 0.15));

}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.coinShortNameContainer{
    text-align: center;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.coinDescriptionContainer{
    text-align: center;
    width: 85%;
    margin-left: auto !important;
    margin-right: auto !important;
    text-decoration: solid;
}

.socialURLsContainer{
    margin-left: 3rem !important;
    margin-right: 3rem !important;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

@media (max-width: 800px) {
    .mainContainer{
        border-radius: 20px !important;
        border-color: crimson;
        width: 80% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    
    }


}


