.footer{
    
    width: 100% !important;
    /* Height of the footer*/ 
}

/* .upperfooter{
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    background-color: #6441A5;
    flex-wrap: wrap;
    height:3%;} */

    
.lowerfooter{
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    background-color: #886eb9;
    flex-wrap: wrap;
    height:5%;
}

.lowerfooterInner{
    width: 85% !important;
    margin-left: auto !important;
    margin-right: auto !important;

    display: flex;
    justify-content: flex-end;
}

.upperfooterColumn{
    margin-top:0.6em !important;
    margin-bottom:2.6em !important;
}

.upperfooterHeading{
    color: #fff;
    font-weight: bold;
}

.upperfooterLink{
    color: #fff;
}

.lowerfooterInner{
    margin-top: 0.4%;
}

.lowerfooterLink{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}



@media (max-width: 800px) {

    .lowerfooter{
        height: 3%;
    }

    .lowerfooterInner{
        margin-top: 0.4%;
    }
    
    .lowerfooterLink{
        font-size: 15px
    }
 
}