.footer {
  width: 100% !important;
}

.lowerfooter {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  background-color: #886eb9;
  height: 10%;
}

.lowerfooterInner {
  width: 55% !important;
  margin-left: auto !important;
  margin-right: auto !important;

  display: flex;
  justify-content: space-around;
}

.upperfooterColumn {
  margin-top: 0.6em !important;
  margin-bottom: 2.6em !important;
}

.upperfooterHeading {
  color: #fff;
  font-weight: bold;
}

.upperfooterLink {
  color: #fff;
}

.lowerfooterInner {
  margin-top: 0.4%;
}

.lowerfooterLink {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
}

.lowerfooterLink svg {
  width: 2.5rem;
  height: 2.5rem;
  transition: 0.2s;
}

.lowerfooterLink svg:hover {
  color: black;
}

@media (max-width: 800px) {
  .lowerfooterInner {
    padding: 1rem 0;
    width: 100% !important;
  }

  .lowerfooterLink svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
