.footer{
    
    width: 100% !important;
    /* Height of the footer*/ 
    height: 43px;
}

.upperfooter{
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    background-color: rgb(192, 165, 165);
}

.lowerfooter{
    width: 100% !important;
    position: fixed;
    bottom: 0;
    background-color: rgb(247, 55, 55);

}

.lowerfooterInner{
    width: 85% !important;
    margin-left: auto !important;
    margin-right: auto !important;

    display: flex;
    justify-content: space-between;
}

.upperfooterColumn{

}

.upperfooterHeading{

}

.upperfooterLink{

}