.button {
    border: 3px solid #DD1919;
    border-radius: 20px;
    background-color: white;
    color: #DD1919;
    padding: 6px 18px;
    font-size: 1rem;
    cursor: pointer;
  }
  
.button:hover {
    background-image: linear-gradient(to right, rgba(208, 16, 71, 1) 49%, rgb(85, 71, 138) 91%);
    color: white !important;
}


@media screen and (max-width: 768px) {
    
    .button{
        font-size: 4.5vw;
        border: 2px solid #DD1919;
        border-radius: 20px;
        background-color: white;
        color: DD1919;
        padding: 3px 10px;
        cursor: pointer;
    }
}