
.wrapper {
    width: 100%;
    /* whatever width you want */
    display: inline-block;
    position: relative;
    background-size: contain;
    background: url('../../public/svg/animationBg.svg') top center no-repeat;
    margin: 0 auto;
  }
  .wrapper:after {
    padding-top: 25%;
    display: block;
    content: '';
  }
  
.main {
  margin-left: 20% !important;
  margin-right: 20% !important;
  margin-top: 10% !important;
}

