.mainContainer{
    width: 100%;
}

.innerContainer{
    width: 90% ;
    margin-left: auto !important;
    margin-right: auto !important;
    
}

.headerContainer{
    text-align: center;
    font-size:10vw;
    font-weight:bold;
    background: -webkit-linear-gradient(rgba(208, 16, 71, 1), rgba(64, 45, 133, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttonContainer {
    border-radius: 3px;
    border-color: cadetblue;
    display: flex;
    justify-content: space-around;
  }


.button{
    background-color: white;
}

.formContainer{

}

.inputContainer{
    width: 100%;
}

.submitContainer{
    
}


@media (max-width: 800px) {

  }

  