.mainContainer{
    width: 100%;
}

.innerContainer{
    width: 90% ;
    margin-left: auto !important;
    margin-right: auto !important;
    
}

.headerContainer{
    text-align: center;
    font-size:180px;
    font-style:bold;
    background: -webkit-linear-gradient(rgba(208, 16, 71, 1), rgba(64, 45, 133, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttonContainer {
    border-radius: 3px;
    margin-top: 50px;
    border-color: cadetblue;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: 20% !important;
    margin-right: 20% !important;
  }


.button{
    background-color: white;
}

.formContainer{
    margin-top: 20px;

}

.inputContainer{
    width: 100%;
}

.submitContainer{
    
}

.textButton{
    text-decoration: underline;
    font-size:3rem;
    color: rgba(255, 0, 0, 1);
    font-size: 75px;

}



@media (max-width: 800px) {
    .textButton{
        text-decoration: underline;
        font-size:2rem
    }

    .buttonContainer{
        width: 100%;
        margin-top: 0px !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
    }

    .headerContainer{
        font-size:80px;

    }

  }

  