.mainContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6rem auto;
}

.headerContainer {
  text-align: center;
  font-size: 7rem;
  font-style: bold;
  background: -webkit-linear-gradient(
    rgba(208, 16, 71, 1),
    rgba(64, 45, 133, 1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttonContainer {
  border-radius: 3px;
  margin-top: 30px;
  border-color: cadetblue;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: 25% !important;
  margin-right: 25% !important;
}

.button {
  width: 7rem;
  margin: 2rem auto;
}

.text {
  width: 60%;
  text-align: center;
  margin: 1rem auto;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.formContainer {
  margin-top: 20px;
}

.inputContainer {
  width: 100%;
}

.textButton {
  font-size: 2.4em !important;
  color: rgba(255, 0, 0, 1);
}

.textButton {
  background: linear-gradient(to right, #6441a5, #fb0204, #ff0000);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.textContainer {
  text-align: center;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    rgba(208, 16, 71, 1),
    rgba(64, 45, 133, 1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 800px) {
  .mainContainer {
    width: 100%;
    margin: 4rem auto;
  }

  .headerContainer {
    font-size: 3rem;
  }

  .button {
    width: 8rem;
    margin: 1rem auto;
  }

  .text {
    width: 80%;
    font-size: 1rem;
  }
}
